<div class="tw-bg-cyan tw-absolute tw-overflow-hidden tw-rounded-full tw-text-sm md:tw-text-3xl tw-left-0 tw-bottom-8 tw-font-bold tw-max-w-fit tw-text-black tw-py-6 tw-px-6 tw-uppercase">
  {{ label }}
</div>
