<section class=" tw-text-center tw-grid-cols-3 tw-w-full   tw-justify-items-center tw-gap-2 md:tw-gap-4  tw-grid ">
  <div class="tw-rounded-[4px]   tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative  md:tw-bg-cream tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown">
    <h1 class="tw-my-0 md:tw-text-6xl ">1 Ball</h1>
    <img
      src="//yard-ball.myshopify.com/cdn/shop/files/YARDBALL_1.png?v=1688943246&amp;width=250"
      alt=""
      width="150"
      height="227"
      loading="lazy"
      class=" tw-mx-auto tw-block bb-1"
      sizes="100"
    >

    <h3 class="tw-text-5xl   tw-my-2 tw-mt-0">$39.99</h3>
    <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading tw-my-2 tw-text-black ">Per Ball</h4>
  </div>
  <div class="tw-rounded-[4px]   tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative  md:tw-bg-cream tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown">
    <h1 class="tw-my-0 md:tw-text-6xl ">2 Ball</h1>
    <div class="tw-bg-cyan  tw-my-2 tw-mx-auto tw-font-heading tw-rounded-full tw-text-3xl md:tw-text-3xl tw-font-bold tw-max-w-fit tw-text-black tw-py-2 tw-px-4 tw-uppercase">
      SAVE 7%
    </div>
    <h3 class="tw-text-5xl tw-line-through tw-text-red-500 tw-my-2 tw-mt-0">$79.99</h3>
    <h3 class="tw-text-5xl   tw-my-2 tw-mt-0">$36.97</h3>
    <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading tw-my-2 tw-text-black ">Per Ball</h4>
    <div class="tw-absolute tw-left-0 tw-right-0  md:tw-p-2 tw-bottom-0 tw-w-full  tw-z-50 tw-text-black  tw-bg-brown">
      <span class="tw-font-bold tw-font-heading ">+ FREE SHIPPING</span>
    </div>
  </div>
  <div class="tw-rounded-[4px]   tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative  md:tw-bg-cream tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown">
    <h1 class="tw-my-0 md:tw-text-6xl ">3 Ball</h1>
    <div class="tw-bg-cyan tw-my-2 tw-mx-auto tw-font-heading tw-rounded-full tw-text-3xl md:tw-text-3xl tw-font-bold tw-max-w-fit tw-text-black tw-py-2 tw-px-4 tw-uppercase">
      SAVE 17%
    </div>
    <h3 class="tw-text-5xl tw-line-through tw-text-red-500 tw-my-2 tw-mt-0">$118.99</h3>
    <h3 class="tw-text-5xl   tw-my-2 tw-mt-0">$33.29</h3>
    <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading tw-my-2 tw-text-black ">Per Ball</h4>
    <div class="tw-absolute tw-left-0 tw-right-0  md:tw-p-2 tw-bottom-0 tw-w-full  tw-z-50 tw-text-black  tw-bg-brown">
      <span class="tw-font-bold tw-font-heading ">+ FREE SHIPPING</span>
    </div>
  </div>
</section>
