{% style %}
  .product-details--description {
    color: #b36544;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.756px;
  }
{% endstyle %}
<section class="tw-bg-[#F2EEE8] tw-mx-0 ">
  {% comment %}
    <header>
      <button>Details</button>
      <button>Production</button>
      <button>Usage</button>
    </header>
  {% endcomment %}
  <section class="tw-grid tw-max-w-[84rem] tw-py-8 tw-px-2 md:tw-px-0 md:tw-py-16 tw-grid-cols-1 md:tw-grid-cols-2 tw-grid-rows-1 tw-container tw-mx-auto tw-gap-16">
    <div>
      <p class="tw-capitalize tw-my-2 ">Play ball, Anywhere</p>
      <p class="tw-text-5xl tw-my-2 tw-font-heading tw-uppercase">{{ product.title }}</p>
      <p class="tw-font-semibold tw-my-2">Play as Tough as You</p>
      <p class="product-details--description">
        Our primary Yardball. A glove and ball in one! Throw it and catch it with your bare hands. Toss it while you're
        on the phone, or tailgating the big game, or brainstorming your next big venture. Inside or out, you won't be
        able to put it down! And Yardball is as addicting as it is beautiful. Each Yardball is handstitched right here
        in KC and made from biodegradable materials. Get your first edition Yardball now!
        <section class="tw-mt-4 tw-grid tw-grid-cols-3">
          <div class="tw-text-[14px] tw-bg-[#5A3714] tw-text-white tw-rounded-lg tw-uppercase  tw-px-2 tw-max-w-fit">
            BALL FOR ALL
          </div>
          <div class=" tw-text-[14px] tw-rounded-lg tw-uppercase tw-max-w-fit">FEATURED IN</div>
          <div class=" tw-text-[14px]  tw-rounded-lg tw-uppercase tw-max-w-fit">5 OZ. BALL</div>
        </section>

        <img
          oading="lazy"
          src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/logos.png?v=1688954229"
          alt="logos"
        >
      </p>
    </div>
    <a href="https://www.youtube.com/watch?v=INCPDjSP83o" target="_blank">
      <img
        loading="lazy"
        alt="cover for youtube video"
        width="auto"
        height="100"
        class="tw-pointer"
        src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/YT-cover.png?v=1688954229"
      >
    </a>
  </section>

  <footer class="tw-bg-[#365181] tw-mt-4 tw-text-white tw-p-4 tw-text-center tw-text-[12px]">
    Made from premium Wickett & Craig Milled Harness Leather giving it that broken in feel right out of the box.
  </footer>
</section>
