<section>
  <h3 class="tw-mx-auto tw-text-center">You may also like.</h3>

  <div class="grid grid-cols-4 grid-rows-1 gap-4 tw-justify-center">
    <figure>
      <img class="tw-rounded-2xl" alt="" loading="lazy" src="https://placehold.co/200">
      <figcaption>
        <p>YARDBALL</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure>
      <img class="tw-rounded-2xl" alt="" loading="lazy" src="https://placehold.co/200">
      <figcaption>
        <p>YARDBALL</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure>
      <img class="tw-rounded-2xl" alt="" loading="lazy" src="https://placehold.co/200">
      <figcaption>
        <p>YARDBALL</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure>
      <img class="tw-rounded-2xl" alt="" loading="lazy" src="https://placehold.co/200">
      <figcaption>
        <p>YARDBALL</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure>
      <img class="tw-rounded-2xl" alt="" loading="lazy" src="https://placehold.co/200">
      <figcaption>
        <p>YARDBALL</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
  </div>
</section>
