<section class="tw-container tw-pt-16 tw-mx-auto">
  <h3 class="tw-mx-auto tw-text-center tw-uppercase tw-my-12 tw-font-body tw-font-semibold">You may also like</h3>
  <div class="tw-mx-auto tw-grid tw-grid-cols-4 tw-grid-rows-1 tw-gap-8 ">
    <figure class="tw-flex tw-flex-col">
      <img
        class="tw-rounded-lg"
        alt=""
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/midnight-thumb.png?v=1688954229"
      >
      <figcaption class="tw-my-8">
        <p class="tw-font-bold">YARDBALL</p>
        <p class="tw-font-heading tw-text-[14px] tw-mt-4">Midnight</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure class="tw-flex tw-flex-col">
      <img
        class="tw-rounded-lg"
        alt=""
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/burgundy-thumb.png?v=1688954229"
      >
      <figcaption class="tw-my-8">
        <p class="tw-font-bold">YARDBALL</p>
        <p class="tw-font-heading tw-text-[14px] tw-mt-4">Burgundy</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure class="tw-flex tw-flex-col">
      <img
        class="tw-rounded-lg"
        alt=""
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/nat-thumb.png?v=1688954229"
      >
      <figcaption class="tw-my-8">
        <p class="tw-font-bold">YARDBALL</p>
        <p class="tw-font-heading tw-text-[14px] tw-mt-4">Natural</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
    <figure class="tw-flex tw-flex-col">
      <img
        class="tw-rounded-lg"
        alt=""
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/glove-ball.png?v=1689263489"
      >
      <figcaption class="tw-my-8">
        <p class="tw-font-bold">YARDBALL</p>
        <p class="tw-font-heading tw-text-[14px] tw-mt-4">Glove</p>
        <p>$39.99</p>
      </figcaption>
    </figure>
  </div>
</section>
