{%- style -%}
{%- endstyle -%}
<section id="review-header-section" class="tw-mx-auto tw-mt-2 tw-mb-32 tw-text-center">
  <div class="review-header-section--wrapper">
    <h3 class="tw-uppercase tw-font-body tw-my-4 tw-font-thin">REVIEWS</h3>
    <p class="tw-font-body tw-max-w-xl tw-text-center tw-mx-auto">
      If you aren't 100% satisfied with your order, don't worry, Yardball will cover the cost!
    </p>
  </div>
</section>
