{%- style -%}
{%- endstyle -%}
<section
  id="review-header-section"
  class="tw-max-w-lg tw-grid-cols-2 tw-grid tw-mx-auto tw-mt-2 tw-mt-32 tw-text-left"
>
  <h3 class="tw-font-body tw-text-9xl tw-font-bold">5.0</h3>
  <div class="tw-flex tw-flex-col">
    <p class="tw-font-body tw-text-5xl tw-my-4 tw-font-bold">Reviews</p>
    <span
      style="margin-left: 0"
      class="spr-starrating tw-text-left spr-summary-starrating"
      aria-label="5.0 of 5 stars"
      role="img"
    >
      <i class="spr-icon spr-icon-star" aria-hidden="true"></i><i class="spr-icon spr-icon-star" aria-hidden="true"></i
      ><i class="spr-icon spr-icon-star" aria-hidden="true"></i><i class="spr-icon spr-icon-star" aria-hidden="true"></i
      ><i class="spr-icon spr-icon-star" aria-hidden="true"></i>
    </span>
    <p class="tw-my-4">1 Review(s)</p>
  </div>
</section>
