<style>
  .bb-1 {
    max-width: 150px;
  }
  .bb-2 {
    max-width: 100%;
    width: 100%;
  }
  .bb-3 {
    max-width: 175px;
  }
</style>
{% if package == 1 %}
  {% assign packageCss = ' tw-hidden md:tw-block bb-1' %}
{% elsif package == 2 %}
  {% assign packageCss = ' tw-hidden md:tw-block bb-2' %}
{% elsif package == 3 %}
  {% assign packageCss = ' tw-hidden md:tw-block bb-3' %}
{% endif %}

{% comment %} set hasFreeShipping flag if package = 2 or 3 {% endcomment %}
{% assign hasFreeShipping = false %}
{% if package == 2 or package == 3 %}
  {% assign hasFreeShipping = true %}
{% endif %}

{% comment %} set isPopular flag if package = 2 {% endcomment %}
{% assign isPopular = false %}
{% if package == 2 %}
  {% assign isPopular = true %}
{% endif %}

{% comment %}  set bestValue flag if package = 3 {% endcomment %}
{% assign isBestValue = false %}
{% if package == 3 %}
  {% assign isBestValue = true %}
{% endif %}

<div class="tw-rounded-[4px] tw-justify-between tw-flex tw-flex-col tw-relative  md:tw-bg-cream tw-border-4 tw-pt-8 tw-pb-16  tw-border-brown">
  {% if isPopular %}
    <div class="tw-absolute  tw-left-0 md:tw-w-2/3 tw-mx-auto tw-right-0 tw-top-[-20px]  tw-overflow-visible tw-rounded-lg tw-p-2 tw-bg-brown">
      <span class="tw-font-bold tw-text-black  tw-font-heading  md:tw-text-3xl tw-text-md">MOST POPULAR</span>
    </div>
  {% endif %}

  {% if isBestValue %}
    <div class="tw-absolute  tw-left-0 md:tw-w-2/3 tw-mx-auto tw-right-0 tw-top-[-20px]  tw-overflow-visible tw-rounded-lg tw-p-2 tw-bg-brown">
      <span class="tw-font-bold  tw-text-black  tw-font-heading md:tw-text-3xl  tw-text-md">BEST VALUE</span>
    </div>
  {% endif %}

  <h1 class="tw-my-0">{{ package }} Ball</h1>
  {{
    image
    | image_url: width: 250
    | image_tag: loading: 'lazy', class: packageCss, sizes: '100', widths: '550, 720, 990, 1100, 1500, 2200, 3000'
  }}
  {% comment %} <img loading="lazy" width="auto" height="200" src="{{ section.settings.offer_image_1 | image_url }}"> {% endcomment %}

  {% if package == 1 %}
    <h3 class="tw-text-5xl tw-my-4 tw-mt-0">$39.99</h3>
    <h4 class="tw-uppercase tw-font-bold tw-font-heading tw-my-2 tw-text-black ">Per Ball</h4>
  {% endif %}

  {% if package == 2 %}
    <div class="md:tw-text-left md:tw-translate-x-1/3">
      <h3 class="tw-text-5xl tw-line-through tw-text-red-500 tw-my-4 tw-mt-0">$79.99</h3>
      <h3 class="tw-text-5xl tw-my-4 tw-inline tw-mt-0">$36.97</h3>
      <span class="tw-uppercase tw-font-bold  tw-block md:tw-inline-block  tw-font-heading tw-my-2 tw-text-black "
        >Per Ball</span
      >
    </div>
  {% endif %}

  {% if package == 3 %}
    <div class="md:tw-text-left md:tw-translate-x-1/3">
      <h3 class="tw-text-5xl tw-line-through tw-text-red-500 tw-my-4 tw-mt-0">$118.99</h3>
      <h3 class="tw-text-5xl  tw-inline tw-my-4 tw-mt-0">$33.29</h3>
      <span class="tw-uppercase tw-block md:tw-inline-block  tw-font-bold tw-font-heading tw-my-2 tw-text-black "
        >Per Ball</span
      >
    </div>
  {% endif %}

  {% if hasFreeShipping %}
    <div class="tw-absolute tw-left-0 tw-right-0  tw-p-2 tw-bottom-0 tw-w-full  tw-z-50 tw-text-black  tw-bg-brown">
      <span class="tw-font-bold tw-font-heading md:tw-text-5xl ">+ FREE SHIPPING</span>
    </div>
  {% endif %}
</div>
