<section class="tw-mx-auto tw-mt-2 tw-mb-32 tw-text-center">
  <img
    width="80"
    height="80"
    class="tw-my-4  tw-rounded-[100%] tw-inline-block tw-rounded-2xl"
    alt="Icon of a Yardball"
    loading="lazy"
    src="https://placehold.co/80"
  >
  <h3 class="tw-uppercase tw-font-body tw-my-4 tw-font-thin">Satisfaction Guaranteed</h3>
  <p class="tw-font-body tw-max-w-3xl tw-text-center tw-mx-auto">
    If you aren't 100% satisfied with your order, don't worry, Yardball will cover the cost!
  </p>
</section>
