<style>
  <style>
      .rtl {
        direction: rtl !important;
      }
    </style>
</style>

<section class="">
  <div class="tw-max-w-screen-xl tw-px-4 tw-py-8 tw-mx-auto sm:tw-px-6 sm:tw-py-12 lg:tw-px-8">
    <ul class="tw-grid rtl tw-grid-cols-1 tw-gap-4 mt-8 lg:tw-grid-cols-3">
      <li>
        <a href="#" class="tw-relative tw-block tw-group">
          <img
            src="https://images.unsplash.com/photo-1618898909019-010e4e234c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            alt=""
            class="tw-object-cover tw-w-full tw-transition tw-duration-500 tw-aspect-square tw-group-hover:opacity-90"
          >

          <div
            class=" tw-absolute tw-inset-0 tw-flex tw-flex-col tw-items-start tw-justify-end tw-p-6"
          >
            <h3 class="tw-text-xl tw-font-medium tw-text-white">Casual Trainers</h3>

            <span
              class="tw-mt-1.5 tw-inline-block tw-bg-black tw-px-5 tw-py-3 tw-text-xs tw-font-medium tw-uppercase tw-tracking-wide tw-text-white"
            >
              Shop Now
            </span>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="tw-relative tw-block tw-group">
          <img
            src="https://images.unsplash.com/photo-1624623278313-a930126a11c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            alt=""
            class="tw-object-cover tw-w-full tw-transition tw-duration-500 tw-aspect-square tw-group-hover:opacity-90"
          >

          <div
            class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-items-start tw-justify-end tw-p-6"
          >
            <h3 class="tw-text-xl tw-font-medium tw-text-white">Winter Jumpers</h3>

            <span
              class="mt-1.5 tw-inline-block tw-bg-black tw-px-5 tw-py-3 text-xs font-medium tw-uppercase tw-tracking-wide tw-text-white"
            >
              Shop Now
            </span>
          </div>
        </a>
      </li>

      <li class="lg:tw-col-span-2 lg:tw-col-start-2 lg:tw-row-span-2 lg:tw-row-start-1">
        <a href="#" class="relative block group">
          <img
            src="https://images.unsplash.com/photo-1593795899768-947c4929449d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80"
            alt=""
            class="tw-object-cover tw-w-full tw-transition tw-duration-500 tw-aspect-square group-hover:opacity-90"
          >

          <div
            class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-items-start tw-justify-end tw-p-6"
          >
            <h3 class="tw-text-xl tw-font-medium tw-tw-text-white">Skinny Jeans Blue</h3>

            <span
              class="tw-mt-1.5 tw-inline-block tw-bg-black tw-px-5 tw-py-3 tw-text-xs tw-font-medium tw-uppercase tw-tracking-wide tw-text-white"
            >
              Shop Now
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Masonry",
  "presets": [
    {
      "name": "Masonry Grid",
      "category": "Grid"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "masonry_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    },
    {
      "type": "image_picker",
      "id": "masonry_image",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r1",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r2",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r3",
      "label": "Offer Image"
    },
    {
      "type": "text",
      "id": "masonry_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "masonry_button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "masonry_url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
