<section class="tw-text-center tw-bg-white tw-mx-auto">
  <section class="tw-mx-auto tw-text-center tw-container ">
    <h1 class="tw-bg-white tw-text-center tw-mx-auto">Grab Yours</h1>
    <div class="md:tw-columns-3 tw-mx-auto">
      <div class="tw-p-4 tw-mx-auto tw-rounded-lg md:tw-bg-cream tw-border-4 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
      <div class="tw-p-4 tw-mx-auto tw-rounded-lg tw-bg-cream tw-border-4 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
      <div class="tw-p-4 tw-mx-auto tw-rounded-lg tw-bg-cream tw-border-4 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
    </div>
    <div class="tw-w-full"><button class="tw-my-8 button tw-w-full">BUY NOW</button></div>
  </section>
</section>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer-title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "text",
      "id": "offer-description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer-button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer-url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
