<h1 class="bg-red-500">This is an offer</h1>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer-title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "text",
      "id": "offer-description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer-button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer-url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
