<h1>
  This is an offer
</h1>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [],
  "settings": [
    {
      "type": "text",
      "id": "offer-title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer-button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer-url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}