<section class="tw-text-center tw-bg-white tw-mx-auto">
  <section class="tw-mx-auto tw-text-center tw-container ">
    <h1 class="tw-bg-white tw-text-center tw-mx-auto">Grab Yours</h1>
    <div class="tw-columns-3 tw-mx-auto tw-gap-0">
      <div class="tw-rounded-lg tw-bg-cream border-2 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
      <div class="tw-rounded-lg tw-bg-cream border-2 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
      <div class="tw-rounded-lg tw-bg-cream border-2 tw-max-w-[400px] tw-min-h-[300px] tw-border-brown">
        <h1>1 Ball</h1>
      </div>
    </div>
    <div><button class="button">BUY NOW</button></div>
  </section>
</section>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer-title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "text",
      "id": "offer-description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer-button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer-url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
