<section class="tw-container tw-text-center tw-mx-auto">
  <h1 class="tw-text-center tw-mx-auto">Grab Yours</h1>
  <div class="tw-columns-3">
    <div class="tw-w-full">
      <div class="tw-bg-brown border-2 tw-border-brown"><h1>1 Ball</h1></div>
      <div class="tw-bg-brown border-2 tw-border-brown"><h1>1 Ball</h1></div>
      <div class="tw-bg-brown border-2 tw-border-brown"><h1>1 Ball</h1></div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer-title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "text",
      "id": "offer-description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer-button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer-url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
