{% stylesheet %}
  {{ 'promo.css' | asset_url | stylesheet_tag }}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<section class="tw-flex tw-p-4">
  <div
    style="background-image: url(https://images.unsplash.com/photo-1521941651707-748bdbae77e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);"
    class="tw-w-1/2 tw-min-h-[50vh] tw-rounded-lg  tw-bg-[#000] tw-p-4"
  >
    <div></div>
  </div>
  <div class="tw-flex tw-flex-col tw-justify-center tw-mx-2 tw-w-1/2 tw-text-center tw-rounded-lg tw-border-2 tw-border-[#000]">
    <h3 class="tw-font-thin tw-text-center">Learn why everyone everywhere are loving Yardball!</h3>
    <button class="button tw-text-center tw-shadow-lg tw-mx-auto tw-max-w-[300px] tw-bg-scarlet">
      <span class="tw-text-md">Find out more!</span>
    </button>
  </div>
</section>

{% schema %}
{
  "name": "Promo",
  "presets": [
    {
      "name": "Promo",
      "category": "Promo"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "promo-img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "promo-title",
      "label": "Title",
      "default": "Learn why everone everywhere are loving yardball!"
    },
    {
      "type": "text",
      "id": "promo-btn-title",
      "label": "Button Text",
      "default": "Find out more"
    }
  ]
}
{% endschema %}
