{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<section class="tw-flex tw-bg-red-600 tw-h-[40vh]">
  <div class="tw-w-1/2 tw-bg-black tw-p-4"></div>
  <div class="tw-w-1/2">
    <h3>Learn why everyone everywhere are loving Yardball!</h3>
    <button>Find out more!</button>
  </div>
</section>

{% schema %}
{
  "name": "Promo",
  "presets": [
    {
      "name": "Promo",
      "category": "Promo"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "promo-img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "promo-title",
      "label": "Title",
      "default": "Learn why everone everywhere are loving yardball!"
    },
    {
      "type": "text",
      "id": "promo-btn-title",
      "label": "Button Text",
      "default": "Find out more"
    }
  ]
}
{% endschema %}
