{% stylesheet %}
  {{ 'promo.css' | asset_url | stylesheet_tag }}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<section class="tw-flex tw-p-4 tw-container tw-mx-auto">
  <div
    style="background-image: url(https://cdn.shopify.com/s/files/1/0756/7432/1181/files/guy.png); background-size: cover"
    class="tw-w-1/2 tw-min-h-[50vh] tw-rounded-lg tw-p-4"
  >
    <div></div>
  </div>
  <div class="tw-flex tw-flex-col tw-justify-center tw-mx-2 tw-w-1/2 tw-text-center tw-rounded-lg tw-border-4 tw-border-[#000] tw-bg-[#E99E69]">
    <h3 class="tw-font-body tw-p-8 tw-my-16 uppercase tw-font-thin tw-text-center tw-text-5xl">
      Learn why everyone everywhere are loving Yardball!
    </h3>
    <button class="button tw-text-center tw-shadow-lg tw-mx-auto tw-max-w-[300px] tw-bg-scarlet">
      <span class="tw-text-md">Find out more!</span>
    </button>
  </div>
</section>

{% schema %}
{
  "name": "Promo",
  "presets": [
    {
      "name": "Promo",
      "category": "Promo"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "promo-img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "promo-title",
      "label": "Title",
      "default": "Learn why everone everywhere are loving yardball!"
    },
    {
      "type": "text",
      "id": "promo-btn-title",
      "label": "Button Text",
      "default": "Find out more"
    }
  ]
}
{% endschema %}
