<style></style>

<main class="tw-bg-white">
  <section class=" tw-container tw-max-w-7xl tw-mx-auto tw-gap-8 md:tw-gap-0 tw-grid tw-content-center tw-grid-cols-3 tw-p-16 md:tw-p-0 md:tw-py-[7rem] tw-font-bold tw-font-heading tw-w-lg">
    <div class="tw-mx-auto">
      <img class="tw-rounded-lg" loading="lazy" height="auto" width="200" src="{{ 'icon-office.jpeg' | asset_url }}">
    </div>
    <div class="tw-mx-auto">
      <img class="tw-rounded-lg" loading="lazy" height="auto" width="200" src="{{ 'icon-field.jpeg' | asset_url }}">
    </div>
    <div class="tw-mx-auto">
      <img
        class="tw-rounded-lg"
        loading="lazy"
        height="auto"
        width="200"
        src="{{ 'icon-tailgate.jpeg' | asset_url }}"
      >
    </div>
  </section>
</main>

{% schema %}
{
  "name": "Static Banner",
  "class": "static-banner-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "static-banner-section",
      "default": "accent-1"
    }
  ],
  "presets": [
    {
      "name": "Static Banner"
    }
  ]
}
{% endschema %}
