<style></style>

<main class="tw-bg-white">
  <section class="tw-container tw-mx-auto tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-p-4 tw-py-32 tw-font-bold tw-font-heading">
    <div class="tw-mx-auto">
      <img src="https://yard-ball.myshopify.com/cdn/shop/files/Screenshot_2023-05-24_at_8.54_2.png?v=1686200015&width=160">
      <h3 class="tw-uppercase tw-text-black tw-font-heading tw-my-16 tw-text-4xl">AMERICAN CLASSIC, REIMAGINED</h3>
    </div>
    <div class="tw-mx-auto">
      <img src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/Frame_258.png?width=160">
      <h3 class="tw-uppercase tw-text-black tw-font-heading tw-my-16 tw-text-4xl">Perfect Weight, Perfectly Soft</h3>
    </div>
    <div class="tw-mx-auto">
      <img src="https://cdn.shopify.com/s/files/1/0756/7432/1181/files/Screenshot_2023-05-24_at_8.54_1.png?width=160">
      <h3 class="tw-uppercase tw-text-black tw-font-heading tw-my-16 tw-text-4xl">Perfect Weight, Perfectly Soft</h3>
    </div>
  </section>
</main>

{% schema %}
{
  "name": "Static Banner",
  "class": "static-banner-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "static-banner-section",
      "default": "accent-1"
    }
  ],
  "presets": [
    {
      "name": "Static Banner"
    }
  ]
}
{% endschema %}
