<style>
  .orichi-tiktok-content,
  .orichi-brandmark,
  .orichi-tiktok-video-info {
    display: none !important;
  }
</style>

<section>
  <h3>TIKTOK</h3>
</section>

{% schema %}
{
  "name": "Tiktok",
  "presets": [
    {
      "name": "Tiktok",
      "category": "Tiktok"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "tiktok_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    }
  ]
}
{% endschema %}
