<style>
  .orichi-tiktok-content,
  .orichi-brandmark,
  .orichi-tiktok-video-info {
    display: none !important;
  }
</style>

<section class="tw-container tw-mx-auto tw-text-left tw-p-16 tw-pr-0">
  <p class="tw-mx-auto tw-text-left tw-font-body tw-font-bold  tw-my-8 tw-text-md">WATCH YARDBALL</p>
  <div class="tw-whitespace-nowrap tw-flex tw-gap-8 tw-overflow-x-scroll">
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-bg-[#333] tw-flex"><div></div></div>
  </div>
</section>
{% schema %}
{
  "name": "Tiktok",
  "presets": [
    {
      "name": "Tiktok",
      "category": "Tiktok"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "tiktok_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    }
  ]
}
{% endschema %}
