<style>
  .orichi-tiktok-content,
  .orichi-brandmark,
  .orichi-tiktok-video-info {
    display: none !important;
  }
</style>

<script src="https://tiktok.orichi.info/tiktok.js" defer></script>

<section>
  <div name="orichi" data-id="1fc2e922-c762-4bd1-9e20-0f7cdc84c1fb"></div>
</section>

{% schema %}
{
  "name": "Tiktok",
  "presets": [
    {
      "name": "Tiktok",
      "category": "Tiktok"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "tiktok_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    }
  ]
}
{% endschema %}
