<style>
  img {
    margin: 0 auto;
  }
</style>
<section class="tw-text-center tw-bg-cream  my-8 tw-py-16 tw-mx-auto">
  <section class="tw-mx-auto tw-text-center tw-max-w-7xl ">
    <h1 class=" tw-text-center tw-mx-auto tw-text-[39px] tw-mb-8">{{ section.settings.offer_title }}</h1>
    <div class=" tw-columns-3 ">
      {% render 'triple-offer', package: 1 %}
      {% render 'triple-offer', package: 2 %}
      {% render 'triple-offer', package: 3 %}
    </div>
    <div class="tw-w-full tw-my-4">
      <button class="tw-bg-cyan tw-hover:bg-blue-700 tw-text-5xl tw-p-8 tw-text-white tw-font-bold tw-w-full tw-rounded-lg tw-shadow ">
        BUY NOW
      </button>
    </div>
  </section>
</section>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer_title",
      "label": "Title",
      "default": "SHOP GLOVE TAN"
    },
    {
      "type": "image_picker",
      "id": "offer_image_1",
      "label": "Offer 1 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_2",
      "label": "Offer 2 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_3",
      "label": "Offer 3 Image"
    },
    {
      "type": "text",
      "id": "offer_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer_button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer_url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
