<style>
  img {
    margin: 0 auto;
  }
</style>
<section class=" tw-my-16">
  <h1 class=" tw-text-center tw-mx-auto tw-text-5xl tw-mb-[24px]">{{ section.settings.offer_title }}</h1>
  <section class="tw-text-center tw-grid-cols-3 tw-w-full tw-pt-2 tw-justify-items-center tw-gap-2 md:tw-gap-8  tw-grid ">
    <a
      href="/"
      class="hover:tw-shadow-lg tw-transition-all tw-rounded-[4px] tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown"
    >
      <h1 class="tw-my-0 md:tw-text-5xl tw-text-black ">1 Ball</h1>
      <img
        src="//yard-ball.myshopify.com/cdn/shop/files/YARDBALL_1.png?v=1688943246&amp;width=250"
        alt=""
        width="80"
        height="227"
        loading="lazy"
        class=" tw-mx-auto tw-block bb-1"
        sizes="100"
      >

      <h3 class="tw-text-3xl tw-text-black tw-mt-0">$39.99</h3>
      <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading  tw-text-black ">Per Ball</h4>
    </a>

    <a
      href="/"
      class="hover:tw-shadow-lg tw-transition-all  tw-rounded-[4px] tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown"
    >
      <div class="tw-absolute  tw-left-0 md:tw-w-2/3 tw-mx-auto tw-right-0 tw-top-[-20px]  tw-overflow-visible tw-rounded-lg md:tw-p-[2px] md:tw-py-0 tw-bg-brown">
        <span class="tw-font-bold tw-text-black  tw-font-heading tw-text-[14px]">MOST POPULAR</span>
      </div>
      <h1 class="tw-my-0 md:tw-text-5xl tw-text-black">2 Ball</h1>
      <img
        src="//yard-ball.myshopify.com/cdn/shop/files/YARDBALL_2.png?v=1688943246&amp;width=250"
        alt=""
        width="80"
        height="227"
        loading="lazy"
        class="tw-mx-auto tw-block bb-1"
        sizes="100"
      >
      <h3 class="tw-text-3xl tw-line-through tw-text-red-500  tw-mt-0">$79.99</h3>
      <h3 class="tw-text-3xl tw-text-black   tw-mt-0">$36.97</h3>
      <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading  tw-text-black ">Per Ball</h4>
      <div class="tw-absolute tw-left-0 tw-right-0  tw-bottom-0 tw-w-full  tw-z-50 tw-text-black  tw-bg-brown">
        <span class="tw-font-bold tw-font-heading ">+ FREE SHIPPING</span>
      </div>
    </a>

    <a
      href="/"
      class="hover:tw-shadow-lg tw-transition-all  tw-rounded-[4px] tw-justify-evenly tw-w-full tw-max-w-[310px] tw-flex tw-flex-col tw-relative tw-border-4 tw-pt-6 tw-pb-14  tw-border-brown"
    >
      <h1 class="tw-my-0 md:tw-text-5xl tw-text-black">3 Ball</h1>
      <img
        src="//yard-ball.myshopify.com/cdn/shop/files/YARDBALL_3.png?v=1688943246&amp;width=250"
        alt=""
        width="80"
        height="227"
        loading="lazy"
        class=" tw-mx-auto tw-block bb-1"
        sizes="100"
      >
      <h3 class="tw-text-3xl tw-line-through tw-text-red-500  tw-mt-0">$118.99</h3>
      <h3 class="tw-text-3xl tw-text-black   tw-mt-0">$33.29</h3>
      <h4 class="tw-uppercase md:tw-text-4xl tw-font-bold tw-font-heading  tw-text-black ">Per Ball</h4>
      <div class="tw-absolute tw-left-0 tw-right-0  tw-bottom-0 tw-w-full  tw-z-50 tw-text-black  tw-bg-brown">
        <span class="tw-font-bold tw-font-heading ">+ FREE SHIPPING</span>
      </div>
    </a>
  </section>
  <div class="tw-text-center tw-max-w-[1200px] tw-mx-auto tw-my-4">
    <a
      href="/collections/all"
      class="tw-bg-cyan tw-w-full tw-block tw-font-heading tw-hover:bg-blue-700 tw-text-5xl tw-p-8 tw-py-5 tw-mt-[5px] tw-text-white tw-font-bold  tw-rounded-lg tw-shadow-lg "
    >
      BUY NOW
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer_title",
      "label": "Title",
      "default": "SHOP GLOVE TAN"
    },
    {
      "type": "image_picker",
      "id": "offer_image_1",
      "label": "Offer 1 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_2",
      "label": "Offer 2 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_3",
      "label": "Offer 3 Image"
    },
    {
      "type": "text",
      "id": "offer_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer_button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer_url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
