<h1>Video Slider</h1>

{% schema %}
{
  "name": "Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Slider"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video",
      "id": "video1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video4",
      "label": "Video 4"
    },
    {
      "type": "video",
      "id": "video5",
      "label": "Video 5"
    }
  ]
}
{% endschema %}
