<section class="tw-container tw-mx-auto tw-text-left tw-py-16">
  <p class="tw-mx-auto tw-text-left tw-font-body tw-font-bold  tw-my-8 tw-text-md">WATCH YARDBALL</p>
  <div class="tw-columns-6">
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
  </div>
</section>

{% schema %}
{
  "name": "Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Slider"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video",
      "id": "video1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video4",
      "label": "Video 4"
    },
    {
      "type": "video",
      "id": "video5",
      "label": "Video 5"
    }
  ]
}
{% endschema %}
