<section class="tw-container tw-text-center tw-mx-auto">
  <h1 class="tw-text-center tw-mx-auto">WATCH YARDBALL</h1>
  <div class="tw-columns-6">
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
    <div class="tw-rounded-lg tw-min-h-[500px] tw-bg-black"><div></div></div>
  </div>
</section>

{% schema %}
{
  "name": "Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Slider"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video",
      "id": "video1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video4",
      "label": "Video 4"
    },
    {
      "type": "video",
      "id": "video5",
      "label": "Video 5"
    }
  ]
}
{% endschema %}
